{
    box-sizing: border-box;
}

header{
    font-size: 15px;
    font-style: bold;
    text-align: center;
}
body {
    color: black;/*#dce3ed;*/
    background-color: white;/*#3e4651;*/
    font-family: font-family:Lora,'Helvetica Neue',Helvetica,Arial,sans-serif;
	width:100%;
    height:100%;
    margin: 0;
	position:relative;
}
html{width:100%;height:100%}
h1,h2,h3,h4,h5,h6{font-family:Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight:700;margin:0 0 35px;
letter-spacing:1px;
text-transform:uppercase}
p{font-size:16px;
line-height:1.5;margin:0 0 25px}
@media (min-width:768px)
{p{font-size:18px;
line-height:1.6;margin:0 0 35px}}a{-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;color:#2b68ca}a:focus,a:hover{text-decoration:none;
color:#1d9b6c}
#mainNav{font-family:Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
margin-bottom:0;
text-transform:uppercase;
border-bottom:1px solid rgba(255,255,255,.3);
background-color:#000}

table input{
    background-color: white;/*#627287;*/
}
table td button{
    background-color: #627287;
}

.navbar {
    font-size: 16px;
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white; /*#dce3ed;*/
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}


.row {  

    display: flex;
    flex-wrap: wrap;
}

.content {
    flex: 30%;
    background-color: white; /*#3e4651;*/
    padding: 20px;
}
select{

    font-size: 15px;
}
option{
    font-size: 15px;
}
a:hover{
    color: blue;
}
p{
    font-size: 15px;
}
